@model GestionarePacienti.Data.Entities.AppointmentDetails

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AppointmentDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfAppointment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfAppointment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Symptoms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Symptoms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnostic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diagnostic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosticCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiagnosticCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recommandation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recommandation)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Name )
        </dd>




    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" style="text-decoration: underline; color: coral;">Edit</a> |
    <a asp-action="Index" style="text-decoration: underline; color: coral;">Back to List</a>
</div>
