@model IEnumerable<GestionarePacienti.Data.Entities.AppointmentDetails
    >

@{
    ViewData["Title"] = "Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Appointments</h1>

<p>
    <a asp-action="Create" style="text-decoration: underline; color: coral;">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfAppointment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symptoms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnostic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiagnosticCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recommandation)
            </th>
            <th>
                <label>Doctor</label>
            </th>
            <th>
                <label>Patient</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfAppointment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Symptoms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnostic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiagnosticCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recommandation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" style="text-decoration: underline; color: coral;">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: underline; color: coral;">Details</a> 
                @if (User.IsInRole("admin"))
                {
                 <span>| </span><a asp-action="Delete" asp-route-id="@item.Id" style="text-decoration: underline; color: coral;">Delete</a>
                }

            </td>
        </tr>
}
    </tbody>
</table>
